.rap__section{
    background: url('../../../Assets/ticket/ticket-bg01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}


