@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
*{
    margin: 0 ;
    padding: 0 ;
    font-family: 'Roboto', sans-serif;
  
}
body{
  overflow-x: hidden;
  background-color:#001232 ;
box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
 
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
     
    }
  }

.movie{
  background-color: #001232;
}
.rapChieu{
  background-color: #001539;
  
}
.btn__movie{
  margin-right: 1rem;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  border: 1px solid #11326f;
  padding: 7px 20px;
  border-radius: 25px;
  margin: 0 5px 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.movie__active{
  background: -webkit-linear-gradient(169deg, #5560ff 0%, #ff4343 100%);
  border: none;
}

